
img{
    width:100px;
    border-radius:50%;
    overflow:hidden;
    zoom: 200%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}
.image-sec{
    position: absolute;
    top: 50px;
    left: 240px;
    padding: 30px;
    border: 2px snow solid;
    float: left;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header{

    height: 70vh;
    background-image: url("./head-back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info-sec{
    padding-left: 30px;
    position: absolute;
    float: left;
    top: 50px;
    max-width: 60ex;
}
ul li{
    font-size: medium;
    overflow: visible;
}

.vl {
    border-left: 2px solid green;
    height: 450px;
    position: absolute;
    left: 2.7%;
    /* margin-left: -3px; */
    top: 758h;
}
section{
    margin-top: 50px;
    display: flex;
}
.Education {
    padding: 5px;
    max-width: 50%;
    float: left;
    box-shadow: 10px 10px 10px 10px lightblue;
}
.study-info{
  background-color: lightgrey;
  width: 500px;
  border: 5px solid ;
  padding: 5px;
  margin: 20px;
}

/* (B) DONUT "CONVERSION" */
/* (B1) SMALLER CIRCLE */
.hole {
    width: 5em; height: 5em;
    border-radius: 50%;
    background: #fffdfd;
    align-items: center;
  }
   
  /* (B2) "CONVERT PIE TO DONUT" - CENTER SMALLER CIRCLE */
  .donut {
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
    rgb(0, 34, 255) 0deg 80deg,
    green 80deg 360deg,
    blue 190deg 360deg
  );
}

.C-prog{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
    rgb(0, 255, 145) 0deg 30deg,
    blue 30deg 360deg,
    blue 190deg 360deg
  );
}

.python{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
     rgb(0, 255, 145) 0deg 100deg,
     blue 100deg 360deg,
     blue 190deg 360deg
  );
}

.java{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
     rgb(0, 255, 145) 0deg 180deg,
     blue 180deg 360deg,
     blue 190deg 360deg
  );
}

.HTML{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
     rgb(0, 255, 145) 0deg 40deg,
     blue 40deg 360deg,
     blue 190deg 360deg
  );
}

.CSS{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
     rgb(0, 255, 145) 0deg 70deg,
     blue 70deg 360deg,
     blue 190deg 360deg
  );
}

.JS{
    width: 10em; height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(
     rgb(0, 255, 145) 0deg 150deg,
     blue 150deg 360deg,
     blue 190deg 360deg
  );
}

section{
    display: flex;
}
.skills{
    padding: 5px;
    max-width: 50%;
    position: relative;
    left: 110px;
    box-shadow: 10px 10px 10px 10px lightblue;
}

.MySkills{
    display: flex;
}
.charts{
    padding: 20px;
}
.SkillNames{
    display: flex;
}
.SkillNames p {
    position: relative;
    left: 50px;
    padding-right: 100px;
}

.Hobbies{
    padding: 5px;
    min-width: 99%;
    box-shadow: 10px 10px 10px 10px lightblue;
}

a{
    text-decoration: none;
    color: #55bddc;
}

.Projects{
    padding: 5px;
    min-width: 99%;
    box-shadow: 10px 10px 10px 10px lightblue;
}




.contact-head{
    margin-left: 13%;
    color: #f7f9fb;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .name-1 {
    float: left;
 }
 .form-control-name{
    margin-left: 2%;
    margin-bottom: 6%;
    background-color: #171616;
    color: #f6f8f9 ;
    zoom: 100%;
 }
 .form-control-email{
    margin-left: 6%;
    margin-bottom: 6%;
    background-color: #171616;
    color: #f6f8f9 ;
    zoom: 100%;
 }
 .form-mess{
    background-color: #171616;
    color: #f6f8f9;
    margin-left: 1%;
    margin-bottom: 3%;
 }
 .button-1{
    background-color: #bcd8f3;
    color: rgb(62, 160, 161);
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 }
 .total-form{
    padding: 10px;
    padding-right: 130px;
    border: 1px solid rgb(57, 175, 172);
    border-radius: 5px;
    background-color: rgb(57, 175, 172);
    zoom: 150%;
    margin-left: 15%;
 }
 .contact-details{
    color: #f6f8f9;
    margin-left: 4%;
    font-size: 100%;
    margin-top: 15%;
 }
 .last-table{
    background-color:rgb(57, 175, 172);
    position: relative;
    min-width: 100%;

 }
 input[type=text] {
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: black;
  }
  
  input[type=email] {
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: black;
  }
textarea{
    resize: none;
    color: #000000;
}